@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
* {
    box-sizing: border-box;
    font-family: Krona One, sans-serif;

}

.iconBox {
    width: 45%;
    margin: 0 auto;
}
.handsome{
    height: 50vh;
}
svg {
    width: 13%;
    margin: 20px;
}

svg:hover{
    width: 14%;
    border: 1px solid rgb(218, 216, 216);
    border-radius: 10%;
}