.projects{
    width: 85%;
    margin: auto;
    z-index: -1;
    display:inline;
        display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.projectsList{
    margin-top:1%;
    width: 100%;

}